@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  font-family: "Source Sans Pro";
  background: #282828;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 80000% 80000%;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.media {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  text-align: center;
}

li {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: .5s;
}

li:hover {
  color: #292929;
  border: 1px solid #292929;
  transition: .5s;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fff;
  transition: .5s;
}
